<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/files.ejs') %>
</head>
<body>
    <!-- Garage form to add a new car -->
    <div id="Garage">
        <h2>Motor Vault</h2>
        <form action="/garage" method="post">
        <input type="text" name="make" placeholder="Make" required> <br>
        <input type="text" name="model" placeholder="Model" required><br>
        <input type="number" name="year" placeholder="Year" required><br>
        <input type="submit" value="create a car">
        </form>
    </div>
    
    <!-- The cars you have in the vault / Garage -->
    
   
</form>
</body>
</html>