<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/files.ejs') %>
</head>
<body>
    <!-- Garage form to add a new car -->
    <div id="Garage">
        <h2>New Route</h2>
        <form action="/route" method="post">
            <input type="text" name="start" placeholder="Start" required> <br>
            <input type="text" name="end" placeholder="end" required><br>
            <input type="submit" value="create account">
            </form>
    </div>
    
    <!-- The cars you have in the vault / Garage -->
    
   
    <h1> hp</h1>
</form>
</body>
</html>