<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/files.ejs') %>
</head>
<body>
    <!-- Garage form to add a new car -->
    <div id="routes">
        <h2>New Route</h2>
        <form action="/route" method="post">
            <input id="start" type="text" name="start" placeholder="Start" required> <br>
            <input id="end" type="text" name="end" placeholder="end" required><br>
            <input type="submit" value="Post Route">
            </form>
    </div>
    <style>

        #start {
            padding: 10px;
            display: inline-block;
           
        }
        #end {
            padding: 10px;
            display: inline-block;
        }
    </style>
    
    <!-- The cars you have in the vault / Garage -->
    
   
    <h1> hp</h1>
</form>
</body>
</html>