<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>
    <h1 id="cs">Car Social</h1>
    <div id="desc">
        <h2>
            Rev up your engines and join a vibrant community of car enthusiasts like yourself. We're thrilled to have you on board. 
            CarSocial is more than just a platform—it's a driving force that brings together like-minded individuals who share a deep love for automobiles. Whether you're a speed aficionado, a vintage car connoisseur, or a gearhead with a thirst for knowledge, you've found your home among fellow petrolheads.
        </h2>
    </div>
    <div id="signup">
        <h2>Create account</h2>
        <form method="post">
        <input type="text" name="Email" placeholder="Email" required> <br>
        <input type="password" name="Password" placeholder="Password" required><br>
        <input type="submit" value="Login">
        </form>
    </div>
 
</body>
</html>