/* container */
#container {
    display: flex;
    flex-wrap: wrap;
}
/* title */
#cs {
    justify-content: center;
    display: flex;
}

#desc{
    background-color: red ;
    width: 40%;
    height: 50%;
    margin-right: 5px;
    top: 10px;
    display: flex;
}

#signup {
    background-color: aqua;
    width: 40%;
    height: 200px;
    text-align: center;
    justify-content: center;
    float: right;
}